div#shadowContainer {
  background-color: blue;
  color: white;
}

div#shadowContainer h1 {
  color: yellow;
}

div#shadowContainer p {
  color: red;
}

div#shadowContainer .annotationCard {
  background-color: white;
}